<div class="login-page">
	<div class="content px20">
	  <form class="login-form" [formGroup]='loginForm' (ngSubmit)="onLogin()">
		<div class="text-center">
		  <h1 class="app-name">MAKTAB.UZ 
		  </h1>
		  <h2> Tizimga kirish</h2>
		</div>
		<div fxLayout="row">
		  <div fxFlexFill>
			<mat-form-field class="w-100">
			  <input matInput formControlName='login' placeholder="Login . . .">
			</mat-form-field>
			<mat-form-field class="w-100">
			  <input matInput formControlName='parol' type="password" placeholder="Parol  . . .">
			</mat-form-field>
		  </div>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
		  <mat-checkbox formControlName='rememberMe' color="primary" >Eslab qol
		  </mat-checkbox>
		</div>
		<div fxLayout="column">
		  <div fxFlexFill fxFlexFill.lg='6'>
			<button type="submit" mat-raised-button color="primary" [disabled]='loginForm.invalid || surovBajarilmoqda'
			  class="w-100">Kirish</button>
		  </div>
		  <div fxFlexFill fxFlexFil.lg='6'>
			 <a><button mat-flat-button   [routerLink]="['./register']">Ro'yxatdan o'tish</button></a><br> 
			<a><button style="margin-top: 5px;"  mat-flat-button  [routerLink]="['/']" >Bosh sahifaga Qaytish  </button></a>			   
		  </div>
		</div>
	  </form>
	</div>
  </div>